*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    width: 100%;
    background-size: cover;
}
.parent{
    display: flex;
    align-items: center;
    gap: 40px;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

/* side nav */
#side-bar{
    background: rgb(223, 215, 215);
    width: 16rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
} 



.side-bar1 .first-link li a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: large;
    font-weight: 800;
    color: rgb(14, 13, 13);

}

.side-bar1 .first-link{
    margin-top: 6rem;
}

.side-bar1 .secound-link li a{
    display: flexflex;
    flex-direction: column;
    text-decoration: none;
    font-size: large;
    font-weight: 800;
    color: rgb(43, 42, 42);
}
.secound-link li{
    list-style: none;
}
.first-link li{
    list-style: none;
}
.link_linktag{
    display: flex;
    gap: 20px;
}


.side-bar1 .secound-link{
    margin-top: 11rem;
    padding: 2rem 0;
}
.icon{
    width: 30px;
    height: 30px;
}
/* student profile */
form{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    box-shadow:  -3px -3px 3px rgba(0, 0, 0, 0.2),
    -3px -3px 3px rgba(0, 0, 0, 0.2),
    3px 3px 3px rgba(0, 0, 0, 0.2),
    3px 3px 3px rgba(0, 0, 0, 0.2);
}
.student_profile{
    text-transform: capitalize;
    font-weight: 300;
    width: 100%;
}
.student_profile h2{
    padding: 20px 20px 10px 20px;
}
.profile_info{
    display: flex;
    /* align-items: center; */
    gap: 10px;
    flex-direction: column;
    width: 100%;
    padding-inline: 20px;
}
.pro{
    width: 80px;
    height: 80px;
}
.avatar{
    text-align: center;
    padding: 10px;
    margin-left: 300px;
}
.name{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 80%;
}
.name input{
    width: 100%;
    padding-block: 5px;
}

 input{
    width: 80%;
    padding-block: 4px;
    border-style: dashed;

}
.nation{
    padding-bottom: 20px;
}
.submit button{
    padding: 6px 10px 6px 10px;
    color: black;
    text-transform: capitalize;
    font-weight: 300;
    
}
form h3{
    padding-block: 10px;
}
/*header */
.hearder{
    width: 100%;
    background-color: black;
    z-index: 50;
    text-align: center;
    color: snow;
    overflow: hidden;
    position: sticky;
    height: auto;
} 

#vlogo{
    width: 100px;
    height: 100px;
}
.logo_nd_lang{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 60px;
}
.hearder h5{
    padding-top: 50px;
    font-size: 18px;
    text-transform: capitalize;
}
.logo_nd_lang button{
    padding: 10px 18px 10px 18px ;
    text-transform: capitalize;
}